*,
button,
input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    background: none;
    font-family: 'Uni Neue', sans-serif;
}

input::placeholder {
    color: var(--cinzaRoxo);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

div, a {
    display: flex;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--branco);

}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
    color: var(--preto80);
}

:root {
    --vermelho-linear: linear-gradient(90deg, #9E005D 0.05%, #FF0000 100.01%);
    --vermelho: #FF0000;

    --preto80: #232323;

    --branco: #FFFFFF;
    --brancoGelo: #F3F7FF;

    --cinza: #D3D3D3;
    --cinzaRoxo: #9C98A6;
    --cinzaChumbo: #2323231a;

    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --transition: .5s ease all;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--branco);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--preto80);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
    border: 3px solid var(--cinza);
}

.text-danger {
    padding: 8px 0;
    color: var(--vermelho);
    display: flex;
    align-items: center;
    gap: 5px;
    /* background-image: var(--vermelho-linear);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.btn {
    width: min(130px, 100%);
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: var(--transition);
}

.outline {
    color: var(--preto80);
    border: 2px solid var(--vermelho);
    background: var(--branco);
    transition: .5s ease all;
}

.outline:hover {
    background: var(--vermelho-linear);
    color: var(--branco);
    border: 2px;
}

.contained {
    color: var(--branco);
    background: linear-gradient(90deg, #9E005D 0.05%, #FF0000 100.01%);
}