@media (max-width: 851px) {
    .all-services {
        justify-items: center;
        justify-content: center;
    }

    .view-solicite__about {
        grid-template-columns: repeat(auto-fill, minmax(275px, auto));
    }
}

/* tablet */
@media (min-width: 768px) {
    .login-container {
        margin: 0 auto;
    }

    .login-form__title,
    .login-form__login {
        padding: 48px 64px;
    }

    .login-form__submit {
        flex-direction: row;
    }

    .login-divisory {
        width: 1px;
        height: 46px;
    }

    .total-comunity {
        justify-content: flex-end;
    }

    .register-form {
        width: 515px;
    }
}

@media (max-width: 650px) {
    .comunitys {
        display: none;
    }

    .profile {
        display: none;
    }

    .donation-global {
        width: 100%;
    }

    .services {
        width: 100%;
        padding: 5%;
    }

    .all-services {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-gap: 24px;
    }

    .view-request__process,
    .view-card__edit {
        padding: 0;
    }
}

@media (max-width: 565px) {
    .menu {
        flex: 1;
    }
}

@media (max-width: 430px) {
    .services {
        padding: 0 !important;
    }

    .services-type__search {
        padding: 5% 5% 0;
    }

    .solicite-title p,
    .name-comunity {
        font-size: 18px;
    }

    .solicite {
        border-radius: 0;
    }
}