.comum-messages::-webkit-scrollbar,
.main-services::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.comum-messages::-webkit-scrollbar-track,
.main-services::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
}

.comum-messages::-webkit-scrollbar-thumb,
.main-services::-webkit-scrollbar-thumb {
    background-color: var(--vermelho);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
    border: 1px solid #FFF;
}

@keyframes apper {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-apper {
    animation-name: apper;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
}


/*********************************************** 
                MAIN -- LOGIN
************************************************/
.login {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background: var(--brancoGelo);
    overflow-x: hidden;
    position: relative;
}

.login-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: min(calc(100% - 25px), 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*********************************************** 
                FORM -- FORM
************************************************/
.form-login {
    width: min(100%, 515px);
    height: min(100%, 620px);
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    background-color: white;
    border: 1px solid var(--cinzaChumbo);
    border-radius: 10px;
    flex-shrink: 0;
}

.title {
    width: 100%;
    height: auto;
    position: relative;
    padding: 48px 64px;
    border-bottom: 1px solid var(--cinzaChumbo);
}

.title h1 {

    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
    color: #26284D;
}

.title-divisory {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    border: 1px solid #2323231a;
}

.title p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #616680;
}

.title p a {
    color: black;
    font-weight: 600;
}

/* section all-login */
.all-login {
    width: 100%;
    height: auto;
    padding: 23px 64px;
}

.inputs-infos {
    display: flex;
    flex-direction: column;
    padding: 21px 0;
}

.inputs-infos div {
    display: flex;
    flex-direction: column;
}

.inputs-infos .form-control {
    height: 56px;
    background: #FFFFFF;
    border: 1px solid var(--cinzaChumbo);
    border-radius: 8px;
    padding: 12px;
}


/*********************************************** 
            DIV -- ROW-CHECK       
************************************************/
.row-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 42px;
}

.form-check-label {
    color: #9C98A6;
}

.forgot-password {
    text-decoration: none;
    color: #9C98A6;
}

/*********************************************** 
            DIV -- LOGIN-ACCOUNT       
************************************************/
.login-account {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 21px;
}

.login-account__button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.buttonSubmit {
    min-width: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    height: auto;
    background: #49CC68;
    border-radius: 8px;


    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

.login-divisory {
    width: 100%;
    height: 1px;
    background-color: var(--cinza);
}

.buttonSubmit:hover {
    color: #FFFFFF;
}



.social-midia {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    justify-content: space-between;
}

.social-midia a {
    width: 61.69px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    background-color: var(--preto80);
    border-radius: 5px;
    padding: 10px;
}

.social-midia i {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*********************************************** 
            P -- TOTAL-COMUNITY
************************************************/
.total-comunity {
    display: flex;
    justify-content: flex-end;
}

.total-comunity p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9C98A6;
}

.total-comunity i {
    color: var(--vermelho-linear);
}

/*********************************************** 
            FOOTER -- FOOTER
************************************************/
.footer {
    width: 100%;
    height: 25px;
    background: var(--preto80);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer p {
    color: var(--branco);
}

/*********************************************** 
########### PÁGINA -- CRIARCONTA.PHP ###########
************************************************/
.create-account {
    width: 100%;
    height: 100%;
    background-color: #F2F7F0;
}

.create-account__title {
    width: 100%;
    height: 368px;
    background: #49CC68;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.navbar-icons {
    position: absolute;
    top: 20px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.comeback-icon {
    width: 50px;
    height: 50px;
}

.dandelion-icon {
    width: 50px;
    height: 50px;
}

.title-container {
    width: 736px;
    max-width: 736px;
    margin: 0 auto;

}

.title-container h1 {

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.title-container p {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/*********************************************** 
            FORM -- FORM-CREATE-ACCOUNT
************************************************/
.field-create-account {
    width: 100%;
    height: 1320px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-create-account {
    width: 736px;
    height: 754px;
    background: white;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    padding: 60px;
    position: absolute;
    top: -80px;
}

.date-progress {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.date-progress span {

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: #9C98A6;
}

.date-progress__divisory {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    border: 1px solid var(--cinzaChumbo);
}

.files-whatsapp {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1rem;
}

.photo {
    width: 48%;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo span {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #505050;
}

/* input[type="file"] {
    display: none;
}

.photo .form-label {
    height: 34px;
    padding: 0.375rem 0.75rem;
    background: #E6E6F0;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    margin: 0;
    cursor: pointer;
} */

.whatsapp {
    width: 48%;
}

.mb-3 .field-textarea {
    resize: none;
    height: 168px;
}

.next-page {
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-top: 1px solid #E6E6F0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.next-page__container {
    width: 100%;
    height: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.next-page span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #9C98A6;
}

.next-page i {
    font-size: 25px;
    color: #49CC68;
    margin-right: 10px;
}

.next-page__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    width: 150px;
    height: 56px;
    background: #49CC68;
    border-radius: 8px;


    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

.next-page__button:hover {
    color: white;
    cursor: pointer;
}

/*********************************************** 
            FOOTER -- INFORMATIONS
************************************************/
.informations {
    width: 100%;
    height: 140px;
    background: #49CC68;
}

.informations-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.informations-dandelion {
    width: 210px;
    height: 100%;
}

.informations-dandelion h4 {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: white;
}

.informations__social-midia {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.informations__social-midia a {
    width: 64px;
    height: 46px;
}

.informations-divisory {
    margin: 20px;
    width: 73px;
    height: 0px;
    border: 1px solid #E6E6F0;
    transform: rotate(90deg);
}

.addres {
    width: 210px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.addres span {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.addres p {

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #FFFFFF;
}

.legal {
    width: 210px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.legal span {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.legal a {

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #FFFFFF;
}

.legal a:hover {
    color: #FFF;
}

.informations-copyright {
    position: absolute;
    right: 20px;
    bottom: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #FFFFFF;
}

/*********************************************** 
########## PÁGINA -- CRIARCONTA02.PHP ##########
************************************************/
.form-label {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #505050;
}

.form-label span {

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
}

.form-select {
    height: 56px;
}

.prev-page__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    width: 150px;
    height: 56px;
    background: #0EC1C9;
    border-radius: 8px;


    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

.prev-page__button:hover {
    color: #FFF;
}

/*********************************************** 
########## PÁGINA -- CRIARCONTA03.PHP ##########
************************************************/
.field-create-account__more {
    width: 100%;
    height: 1320px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-create-account__more {
    width: 736px;
    height: 1200px;
    background: white;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    padding: 60px;
    position: absolute;
    top: -80px;
}

.service {
    width: 100%;
    height: auto;
}

.options-buttons {
    width: 100%;
    height: 65px;
    background: #F5F8FA;
    /*border: 1px solid rgba(35, 35, 35, 0.15); */
    border-radius: 10px;

    display: flex;
    align-items: center;


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #5C8599;
}

.button-choice {
    width: 50%;
    height: 100%;
}

.button-acc {
    background: #EDFFF6;
    border: 1px solid #A1E9C5;
    border-radius: 10px 0px 0px 10px;


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #37C77F;
}

.available-times {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.available-times h1 {

    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
    color: #26284D;
    margin-bottom: 30px;
}

.options-service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.option {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-hours {
    width: 47%;
    height: 100%;
    display: flex;
}

.container-hours .option+.option {
    margin-left: 15px;
}

.form-select {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #C1BCCC;
}

.service-hours {
    background: #FFFFFF;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    height: 56px;
    padding: 15px;


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.new-service-hours {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-top: 1px solid #A1E9C5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-service-hours__button {
    width: 110px;
    height: 35px;
    background: #EDFFF6;
    border: 1px solid #A1E9C5;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-service-hours__button i {
    font-size: 15px;
    margin-right: 5px;
    color: #49CC68;
}

.phrase-hours-button {

    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 0px;
    color: #49CC68;
}

.new-activity {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-top: 1px solid #A1E9C5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-activity__button {
    width: 147px;
    height: 37px;
    background: #EDFFF6;
    border: 1px solid #A1E9C5;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-activity__button i {
    font-size: 18px;
    margin-right: 5px;
    color: #49CC68;
}

.phrase-activity-button {

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #49CC68;
}

/*********************************************************** 
########### PÁGINA -- PRINCIPAL -- DANDELION.PHP ###########
***********************************************************/
.body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.dandelion-full-space {
    width: 100%;
    height: 100%;
    position: relative;
    background: url('../imgs/background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.dandelion-template {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
        "logo sidenav nav" 120px
        "logo sidenav content" 960px
        "footer footer footer" 140px / 100px 250px 2fr;
}

/* logo */
.logo-dandelion {
    height: 100%;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 25px;
    background: #49CC68;
    overflow-y: hidden;
}

.dandelion-logo__icon {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.dandelion-logo__icon img {
    width: 50px;
    height: 50px;
}

.comunity {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.img-comunity {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    opacity: 0.7;
}

.selected {
    width: 52px;
    height: 52px;
    opacity: 1;
    border: 1px solid white;
    padding: 2px;
}

.add-comunity {
    width: 100%;
    height: 50px;
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-comunity i {
    font-size: 20px;
    color: #49CC68;
}

/* sidenav */
.sidenav-dandelion {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 25px;
    overflow-y: hidden;
    grid-area: sidenav;
}

.comunity-chosen {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #49CC68;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.comunity-chosen img {
    width: 40px;
    height: 40px;
    border: 1px solid #49CC68;
    padding: 2px;
    margin-right: 5px;
    border-radius: 5px;
}

.comunity-chosen span {

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #505050;
}

.options-categories {
    width: 100%;
    height: 135px;
    margin-bottom: 30px !important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.options-categories i {
    width: 25px;
    margin-right: 10px;
    font-size: 18px;
}

.options-categories a {
    width: 100%;
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
}

.options-categories a:hover {
    color: #000000;
}

.accordion {
    width: 100%;
    --bs-accordion-bg: none !important;
}

.accordion-item {
    border: none !important;
    margin-bottom: 15px;
}

.accordion-button {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    padding: 10px 0 !important;
}

.accordion-button:focus {
    z-index: 0 !important;
    border-color: none !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.accordion-button:hover {
    z-index: 0 !important;
}

.accordion-button:not(.collapsed) {
    color: #000 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-body {
    padding: 0 !important;
}

.hash-channel {
    width: 100%;
    height: 25px;
    background: #FFFFFF;
    border-radius: 5px;
    position: relative;
    margin-bottom: 15px;
}

.left-green-space {
    width: 25px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    background-color: #49CC68;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.hash-channel span {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #49CC68;

    position: absolute;
    margin-left: 45px;
}

.people-same-category {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    opacity: 0.7;
}

.people-active {
    opacity: 1;
}

.photo-people {
    position: relative;
    margin-right: 15px;
}

.photo-people img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.people-status {
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 3px;
    right: 3px;
    border-radius: 50%;
}

.online {
    background: #49CC68;
}

.offline {
    background: #D9D9D9;
}

.people-same-category span {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #505050;
}

.channel {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.channel-span {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #505050;
}

.selected__span {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #49CC68;
}

.channel-selected {
    width: 25px;
    height: 15px;
    background: #49CC68;
    border-radius: 25px;
    position: absolute;
    right: 0;


    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
}

/* nav */
.nav-dandelion {
    grid-area: nav;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.welcome {
    width: auto;
    height: 100%;
    display: flex;
}

.welcome img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.welcome-user {
    width: auto;
    height: 100%;
}

.welcomer-user h4 {

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #505050;
}

.user-name {
    font-weight: bold;
}

.welcome-user p {

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    color: #505050;
    margin-bottom: 0;
}

.config-status {
    width: 410px;
    height: 75px;
    display: flex;
    align-items: center;
}

.configs {
    width: 10%;
    color: #212529;
    margin-right: 15px !important;
}

.configs:hover {
    color: #212529;
    cursor: pointer;
}

.configs i {
    font-size: 35px;
}

.status-user {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.dandelion-coins {
    width: 77%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coin {
    width: auto;
    height: 100%;
    display: flex;
}

.divisory-coins {
    width: 1px;
    height: 35px;
    background: #D9D9D9;
}

.coin img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.amout-coins__blue {

    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0EC1C9;
}

.amout-coins__green {

    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #49CC68;
}

.photo-user {
    width: 23%;
    height: 100%;
    background-color: #49CC68;
    border-radius: 5px;
    position: relative;
}

.photo-user__user {
    width: 90%;
    height: 100%;
    position: absolute;
    right: 0;
}

.photo-user__user img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    object-fit: cover;
}

.people-status__user {
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 3px;
    right: 3px;
    border-radius: 50%;
}

/* content */
.all-content {
    grid-area: content;
    width: 100%;
    height: 100%;
    padding: 10px 25px 25px 25px;
}

.container__all-content {
    width: 100%;
    height: 100%;
    background-color: #f7f7f77e;
    border-radius: 5px;
    display: flex;
}

.content-dandelion {
    width: 65%;
    height: 100%;
}

.informations-comunity {
    width: 100%;
    min-height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.informations-comunity_img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 1px;
    border: 1px solid #49CC68;
}

.about-comunity {
    width: 360px;
    height: 100%;
    display: flex;
    align-items: center;
}

.name-comunity {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.name-comunity__info {
    display: flex;

}

.name-comunity__info h4 {

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: #232323;
    margin-bottom: 0;
}

.name-comunity__info i {
    margin-left: 5px;
    color: #49CC68;
}

.about-comunity p {

    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #505050;
    margin-bottom: 0;
}


.advert-dandelion {
    width: 35%;
    height: 100%;
    border-left: 1px solid #D9D9D9;
}

.users-online {
    width: 190px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users-photos_only {
    width: 120px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users-photos_only img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    position: absolute;
}

.users-photos_only .photo01 {
    left: 0;
}

.users-photos_only .photo02 {
    left: 30px;
}

.users-photos_only .photo03 {
    left: 60px;
}

.number-online__users {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-online__users span {

    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 0px;
    text-decoration-line: underline;
    color: #49CC68;
    margin-right: 10px;
}

.contributions {
    width: 100%;
    height: auto;
    min-height: 35px;
    max-height: 61px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 2px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contributions-container {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.contributions-container .contributions-span {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #232323;
}

.contributions-divisory {
    width: 10px;
    height: 0px;
    border: 1px solid #D9D9D9;
    transform: rotate(90deg);
    margin: 0 10px;
}

.contributions-category {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #49CC68;
}

.contributions-services__nav {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.services-search {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.contributions-services__nav li+li {
    margin-left: 10px !important;
}

.contributions-services__nav-link {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #505050;
    text-decoration: none;
    opacity: .5;
}

.link-active {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #505050;
    text-decoration: none;
    opacity: 1;
}

.contributions-services__nav-link:hover {
    color: #505050;
}

.search-services-container {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 10px;
}

.search-services-container img {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 15px;
}

.search-services {
    background: #FFFFFF;
    border: 1px solid rgba(35, 35, 35, 0.15);
    border-radius: 3px;
    margin-left: 10px;
    padding: 3px 3px 3px 35px;


    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #212529;
}

.search-services::placeholder {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color: #B3B3B3;
}

.main-services {
    width: 100%;
    height: 790px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-services__container {
    width: 100%;
    height: auto;
    min-width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    grid-auto-flow: row;
}

.card-service {
    width: 100%;
    max-width: 370px;
    min-width: 230px;
    height: 364px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #A1E9C5;
    border-radius: 5px;
}

.card-info {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #49CC68;
}

.photo-info {
    width: auto;
    height: 35px;
    display: flex;
}

.card-info__user {
    width: auto;
    height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.photo-info__user {
    width: 35px;
    position: relative;
    margin-right: 5px;
}

.photo-info__user img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    object-fit: cover;
}


.name-user__time-online span {

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 0px;
    color: #232323;
}

.name-user__time-online p {

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 0px;
    color: #B3B3B3;
}

.card-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #49CC68;
}

.card-title-service {
    width: 100%;
    height: 45px;
    padding: 5px 0;
    border-bottom: 1px solid #49CC68;
    display: flex;
    align-items: center;
}

.card-title-service p {

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    color: #505050;
    margin-bottom: 0;
}

.service-img {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    padding: 5px 0;
}

.service-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.service-details {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #D9D9D9;
}

.dropdown-toggle,
.dropdown-menu {

    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: #505050;
}

.dropdown-toggle {
    background: none;
    padding: 5px;
}

.dropdown-toggle::after {
    color: #49CC68;
}

.dropdown-menu {
    padding: 5px !important;
}

.dropdown-item a {
    color: #49CC68;
    text-decoration: none;
}

.dropdown-item a:hover {
    color: #49CC68;
}

.service-details__divisory {
    width: 2px;
    height: 20px;
    background-color: #D9D9D9;
    margin: 0 5px;
}

.service-details__hours {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
}

.service-details__hours i {
    margin-right: 5px;
    color: #49CC68;
}

.service-details__hours span {

    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: #505050;
}

.helping-points {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.helping-points i {
    margin-right: 5px;
    color: #49CC68;
}

.helping-points span {

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 0px;
    color: #49CC68;
}

.solicite-service {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 0;
}

.comunity-solicites {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comunity-solicites__icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background: #49CC68;
    border-radius: 3px;
    text-align: center;
}

.comunity-solicites__icon img {
    width: 20px;
    height: 20px;
}

.comunity-solicites span {

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 0px;
    color: #B3B3B3;
}

.solicite-services__divisory {
    width: 2px;
    height: 30px;
    background-color: #49CC68;
    margin: 0 5px;
}

.comunity-coins__price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comunity-coins__price img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.comunity-coins__price span {

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 0px;
}

.local-coin {
    color: #49CC68;
}

.global-coin {
    color: #0EC1C9;
}

.button-solicite__service {
    width: 70px;
    height: 20px;
    background: #49CC68;
    border-radius: 3px;


    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 0px;
    color: #FFFFFF;
}

.advert-dandelion .informations-comunity h3 {

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: #232323;
    margin-bottom: 0;
}

.advert-dandelion .informations-comunity span {

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    color: #49CC68;
}


/* advert */
.messages-container {
    width: 100%;
    height: 790px;
}

.favorite-message {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #D9D9D9;
    padding: 20px;
}

.message-container {
    width: 100%;
    height: 100%;
    display: block;
}

.message-container p {

    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 14px;
    color: #505050;
    margin-bottom: 0;
}

.name-message-fixed {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.name-message-fixed h5 {

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 0px;
    color: #232323;
    margin-bottom: 0;
}

.name-message-fixed .fixed {
    width: auto;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fixed i {
    color: #49CC68;
    font-size: 14px;
    margin-bottom: 10px;
}

.fixed span {

    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 0px;
    color: #B3B3B3;
}

/* messages */
.comum-messages {
    width: 100%;
    height: 60%;
    overflow-y: scroll;
    padding: 20px 0;
}

.comum-messages__container {
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
}

.comum-user__container {
    width: 100%;
    height: 100%;
    display: block;
    background-color: white;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
}

.comum-user__container p {

    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 14px;
    color: #505050;
    margin-bottom: 0;
}

.message-for-user {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.message-for-user h5 {

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 0px;
    color: #232323;
    margin-bottom: 0;
}

.message-for-user .fixed {
    width: auto;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.send-messages {
    width: 100%;
    height: 18%;
    padding: 20px;
    border-top: 1px solid #D9D9D9;
}

.send-message__message {
    width: 100%;
    height: 100px;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
}

.send-message__message textarea {
    width: 100%;
    resize: none;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 5px;
}

.send-message__field {
    width: 100%;
    height: 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.send-message__field i {
    font-size: 22px;
    color: #9C98A6;
    padding: 5px;
}

.act {
    width: 80%;
    height: 100%;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* footer */
.footer-dandelion {
    grid-area: footer;
}

/*********************************************************** 
########### PÁGINA CRIAR CONTA 01 - NOVA PAG ###########
***********************************************************/
.field-create-account__new {
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-create-account__new {
    width: 736px;
    height: 530px;
    background: white;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    padding: 60px;
    position: absolute;
    top: -80px;
    display: flex;
    flex-wrap: wrap;
}

.title__new {
    width: 100%;
    height: 80px;
    position: relative;
}

.date-progress__new {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.date-progress__new h1 {

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: #232323;
}

.date-progress__new span {

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    color: #9C98A6;
}

.next-page__new {
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-top: 1px solid #E6E6F0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
}

.next-page__container__new {
    width: 100%;
    height: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.next-page__new span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #9C98A6;
}

.next-page__new i {
    font-size: 25px;
    color: #49CC68;
    margin-right: 10px;
}

.form__email {
    width: 100%;
    height: 100px;
}

.form__password {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.col__pass {
    width: 47%;
}

/* MENU DE CRUD */
.dropdown i {
    cursor: pointer;
}

.dropdown-menu {
    width: 320px;
    max-height: 300px;
    overflow-y: auto;
}

/*  
    ##########################
        dandelion - opções
    ##########################
*/
.hash-channel__options {
    width: 100%;
    height: 25px;
    background: #49CC68;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    cursor: pointer;
}

.hash-channel__options:nth-child(1) {
    margin-bottom: 15px !important;
}

.left-white-space {
    width: 10%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    background-color: #ffffff;
}

.right-space {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
}

.right-space span {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-left: 15px;
}

/*********************************************** 
########## PÁGINA -- CONTRIBUICOES.PHP ##########
************************************************/
.contributions-green__link {
    color: #49CC68;
    font-weight: bold;
    opacity: 1;
}

.contributions-green__link:hover {
    color: #49CC68;
}

/*********************************************** 
########## PÁGINA -- CONTRIBUICOES.PHP ##########
************************************************/
.background__form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000090;
    z-index: 999;
    display: none;
}

.active-background {
    display: block;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.close i {
    color: #dd2929;
    font-size: 32px;
}

.form-create-account__contribuir {
    width: 100%;
    min-width: 570px;
    min-height: 925px;
    background: white;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    padding: 40px;
}

.active-form {
    display: block !important;
}

.next-page__contribuir {
    width: 100%;
    height: auto;
    padding-top: 20px;
    border-top: 1px solid #E6E6F0;
    margin-top: 20px;
}

.next-page__container__contribuir {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.next-page__contribuir span {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #9C98A6;
}

.next-page__contribuir i {
    font-size: 25px;
    color: #49CC68;
    margin-right: 10px;
}

.form-delete-contribution {
    display: none;
    width: 400px;
    height: 235px;
    background: white;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 8px 8px 0 0;
}

.top-container {
    width: 100%;
    height: 20%;
    background: #49CC68;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.top-container h5 {

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 12px;
    color: #FFF;
    margin-bottom: 0;
}

.sure-remove {
    width: 100%;
    height: 80%;
    padding: 30px;
}

.sure-remove p {

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 1;
    color: #232323;
    text-align: center;
}

.button-removes {
    width: 100%;
    height: 40px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sure-buttons {
    width: 150px;
    height: 40px;
    background-color: #49CC68;
    border-radius: 5px;
    text-align: center;


    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.sure-buttons:hover {
    color: #FFF;
}

.alter-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    width: 150px;
    height: 56px;
    background: #49CC68;
    border-radius: 8px;


    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
}

.delete-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    width: 150px;
    height: 56px;
    background: #d73434;
    border-radius: 8px;


    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.delete-button:hover {
    color: #ffffff;
}

.contributions__buttons {
    width: 68%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contributions__buttons a+button {
    margin-left: 15px;
}

.account-created {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}