.login {
  min-height: calc(100% - 25px);
  background-color: var(--brancoGelo);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.login-container {
  max-width: 1400px;
  height: calc(100% - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: min(100%, 515px);
  min-height: 630px;
  background-color: var(--branco);
  flex-shrink: 0;
  overflow-y: auto;
}

.login-form__title {
  width: 100%;
  border-bottom: 1px solid var(--cinzaChumbo);
  padding: 30px 15px;
}

.login-form__login {
  width: 100%;
  padding: 30px 15px;
}

.login-form__inputs {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.login-form__inputs p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--preto80);
}

.login-form__inputs p a {
  text-decoration: underline;
  font-weight: bold;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.login-input {
  display: flex;
  flex-direction: column;
}

.login-form__check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 19px 0 40px 0;
}

.login-form__check div,
.login-form__check div a {
  display: flex;
  align-items: center;
  color: var(--cinzaRoxo);
}

.login-form__check input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 25px;
  height: 25px;
  background-color: var(--cinzaChumbo);
  border-radius: 4px;
}

.login-form__check input[type="checkbox"]:checked {
  appearance: auto;
}

.login-form__check label {
  margin-left: 5px;
}

.login-form__submit {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 21px;
  flex-direction: column;
}

.login-form__submit input {
  width: 137px;
  height: 46px;
  background: var(--vermelho-linear);
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--branco);
}

.login-divisory {
  width: 100%;
  height: 1px;
  background-color: var(--cinzaChumbo);
}

.social-media {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-media a {
  width: 60px;
  height: 46px;
  background-color: var(--preto80);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.social-media a i {
  font-size: 28px;
  color: var(--branco);
}

.total-comunity {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.login-footer {
  height: 25px;
  background-color: var(--preto80);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.login-footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: var(--branco);
}

/* criarconta.php */
.register-form {
  width: min(100%, 515px);
  min-height: min(630px, 862px);
  background-color: var(--branco);
  flex-shrink: 0;
  overflow-y: auto;
}

.register-form::-webkit-scrollbar,
.login-form::-webkit-scrollbar {
  width: 5px;
}

.register-form::-webkit-scrollbar-track,
.login-form::-webkit-scrollbar-track {
  background: var(--branco);
}

.register-form::-webkit-scrollbar-thumb,
.login-form::-webkit-scrollbar-thumb {
  background-color: var(--preto80);
  border-radius: 20px;
  border: 3px solid var(--cinza);
}

.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.upload-preview {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.upload-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para o botÃƒÆ’Ã‚Â£o personalizado */
.custom-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: var(--preto80);
  color: var(--branco);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  gap: 8px;
}

.custom-button svg {
  width: 16px;
  height: 16px;
}

.button-links {
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
}

.alert-fill {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.alert-fill p {
  font-weight: 400;
  font-size: 12px;
  color: var(--cinzaRoxo);
}

/* donation.php */
.donation {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  position: relative;
  overflow: hidden;
}

.donation-home {
  width: 100%;
  height: calc(100% - 25px);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.comunitys {
  width: 68px;
  height: 100%;
  background-color: var(--branco);
  box-shadow: var(--shadow);
  z-index: 3;
  display: flex;
  flex-direction: column;
}

/* COMUNITY.PHP */
.comunity {
  height: 100%;
  padding: 25px 10px;
  flex-direction: column;
  gap: 24px;
}

.logo-comunity {
  cursor: pointer;
}

.all-comunitys {
  height: auto;
  flex-direction: column;
  gap: 8px;
}

.img-comunity {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  filter: brightness(65%);
  cursor: pointer;
}

.img-comunity.selected {
  outline: 2px solid var(--vermelho);
  filter: brightness(100%);
}

.btn-add__comunity {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background: var(--vermelho-linear);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s ease all;
}

.btn-add__comunity:hover svg {
  width: 25px;
  height: 25px;
}

.number-users {
  display: flex;
  align-items: center;
  gap: 5px;
}

.number-users span {
  font-weight: 700;
  font-size: 24px;
  background-image: linear-gradient(90deg, #9e005d 0.05%, #ff0000 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.donation-global {
  width: calc(100% - 68px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.about-comunitys {
  width: 100%;
  height: 97px;
  background-color: var(--branco);
  z-index: 2;
  box-shadow: var(--shadow);
}

/* aboutComunity.php */
.about {
  width: 100%;
  height: 100%;
  padding: 25px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.profile-services {
  height: calc(100% - 97px);
  display: flex;
  justify-content: space-between;
}

.profile {
  width: 170px;
  height: 100%;
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.services {
  width: calc(100% - 170px);
  height: 100%;
  background-color: var(--brancoGelo);
  padding: 28px 25px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
}

/* services.php */
.services-type__search {
  width: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.types-services {
  align-items: center;
  gap: 8px;
}

.types-services__btn {
  min-width: 72px;
  background-color: transparent;
  border-radius: 50px;
  padding: 6px;
  color: var(--preto80);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.types-services__btn.active {
  background-color: var(--preto80);
  color: var(--branco);
}

.search-services {
  width: 500px;
  height: 29px;
  display: flex;
  align-items: center;
  padding: 2px 12px;

  background: var(--branco);
  border: 1px solid var(--cinzacChumbo);
  border-radius: 50px;
}

.search-service__input {
  width: 100%;
}

.search-service__input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: var(--cinza);
}

.all-services {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 24px;
  overflow-y: auto;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.all-services::-webkit-scrollbar,
.services::-webkit-scrollbar,
.availability::-webkit-scrollbar {
  width: 0;
}

.all-services::-webkit-scrollbar-track,
.services::-webkit-scrollbar-track,
.availability::-webkit-scrollbar {
  background: transparent;
}

.service-card {
  width: 270px;
  height: 296px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  justify-content: space-between;
}

.service-card__img {
  width: 100%;
  height: 257px;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--cinza);
}

.service-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 0;
}

.service-card__about-service {
  width: 100%;
  background-color: var(--branco);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.infos {
  width: 100%;
  height: 31px;
  display: flex;
  background: var(--branco);
  align-items: center;
  justify-content: space-between;
  padding: 4px 11px;
  border-radius: 5px;
  transition: 0.5s ease all;
  cursor: pointer;
}

.infos.active {
  background: var(--vermelho-linear);
  border-radius: 5px 5px 0 0;
}

.infos.active .photo-offer .type-service {
  color: var(--branco);
}

.infos.active .service__more-infos svg path {
  fill: var(--branco);
}

.infos.active .service__more-infos svg {
  transform: rotate(180deg);
  fill: var(--vermelho);
}

.more-infos {
  width: 100%;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s ease all;
}

.more-infos.active {
  height: calc(296px - 31px);
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.availability {
  height: calc(100% - 39px);
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  gap: 5px;
  overflow-y: auto;
}

.weekdays {
  display: flex;
  gap: 10px;
}

.weekday-btn {
  width: 28px;
  height: 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cinza);
  border-radius: 5px;
  cursor: pointer;
  color: var(--branco);
}

.weekday-btn.active {
  background-color: var(--preto80);
}

.hour-service {
  display: none;
  border-bottom: 1px solid var(--cinza);
}

.hour-service.active {
  display: flex;
}

.time-slots {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
}

.time-slots .time-range:nth-child(odd)::after {
  content: "|";
  margin: 0 5px;
}

/* .time-slots .time-slot:nth-child(odd)::after {
  content: "|";
  margin: 0 5px;
} */

.time-range {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: var(--preto80);
}

.description-service {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.queue-solicite {
  width: 100%;
  height: 38px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 9px;
}

.queue {
  display: flex;
  align-items: center;
  gap: 5px;
}

.queue-solicite .notifications {
  width: 23px;
  height: 17px;
}

.queue-solicite .btn {
  width: 115px;
}

.photo-offer {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.5s ease all;
}

.photo-offer img {
  width: 23px;
  height: 23px;
  object-fit: cover;
  object-position: 100% 0;
  border-radius: 50%;
}

.type-service {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: var(--preto);
  transition: 0.5s ease all;
}

.service__more-infos svg {
  transition: 0.5s ease all;
}

.donation-footer {
  width: 100%;
  height: 25px;
  background: var(--preto80);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--branco);
  font-size: 12px;
}

.name-divisory {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.name-comunity {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  font-size: 24px;
  text-decoration: underline;
}

.divisory {
  width: 2px;
  height: 100%;
  background-color: var(--preto80);
}

.community-participants {
  width: 52px;
  height: 27px;
  border-radius: 5px;
  position: relative;
}

.community-participants > div {
  width: 27px;
  height: 27px;
  border-radius: 5px;
  overflow: hidden;
  outline: 1px solid var(--vermelho);
  z-index: 1;
}

.community-participants > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.community-participants > div:nth-child(2n) {
  position: absolute;
  left: 15px;
  z-index: 2;
}

.community-participants > div:nth-child(3n) {
  z-index: 3;
}

.about-menu__button {
  cursor: pointer;
  padding: 10px;
}

/* profile.php */
.avatar {
  flex-direction: column;
  padding: 25px 25px 0 25px;
  align-items: center;
  gap: 12px;
}

.avatar img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}

.avatar .name-user {
  font-weight: 600;
  font-size: 16px;
  color: var(--preto80);
}

.my-infos {
  align-items: center;
  padding: 0 11px;
  flex-direction: column;
  gap: 6.5px;
}

.icone {
  font-size: 16px;
  color: var(--preto80);
  transition: 0.5s ease;
}

.icone.active {
  color: var(--vermelho);
}

.icone.rotate:nth-child(2) {
  transform: rotate(-180deg);
}

.my-profile__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.my-profile__btn div {
  gap: 5px;
  align-items: center;
}

.my-profile__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--preto80);
  transition: color 0.5s ease;
}

.my-profile__text.active {
  color: var(--vermelho);
}

.infos-list {
  width: 100%;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: height 0.5s ease;
  border-bottom: 1px solid var(--cinza);
}

.infos-list.active {
  height: 150px;
}

.infos-list li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.notifications {
  width: 15px;
  height: 15px;
  background-color: var(--vermelho);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--branco);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}

.channels {
  width: 100%;
  padding: 0 11px;
  display: flex;
  align-items: flex-start;
}

.channels-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.channels-list li:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: var(--preto);
}

.channel-list__item {
  width: 100%;
  display: flex;
  align-items: center;
  grid-gap: 5px;
  cursor: pointer;
}

.channel-list__item.active {
  background-color: var(--cinza);
  border-radius: 5px;
  padding: 0 4px;
}

.channel-btn {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--preto);
}

/* solicite.php / solicitar.php */
.solicite {
  width: 100%;
  min-height: 451px;
  background-color: var(--branco);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.solicite-title {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 24px;
  background: var(--vermelho-linear);
}

.solicite-title p {
  color: var(--branco);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.solicite-about {
  width: max(360px, 100%);
  height: calc(100% - 50px);
  background-color: var(--branco);
  padding: 22px 3%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.solicite-users__imgs {
  height: min-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.solicite-users__imgs svg {
  display: flex;
  flex-shrink: 0;
}

.user__img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.user__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 0;
}

.who-solicites {
  justify-content: center;
}

.solicite-text__about {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--preto80);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contrast-name {
  text-decoration: underline;
}

.contrast-service {
  font-weight: 700;
}

.custom__text-area {
  width: 100%;
  height: 150px;
  resize: none;
  overflow: hidden auto;
  padding: 10px;
  border: 1px solid var(--vermelho);
  font-size: 16px;
  border-radius: 5px;
  white-space: pre-wrap;
}

.custom__text-area::-webkit-scrollbar {
  width: 5px;
}

.custom__text-area::-webkit-scrollbar-track {
  background: var(--cinza);
}

.custom__text-area::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid var(--preto80);
}

.calendar-input {
  height: 36px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--vermelho);
  transition: 0.5s ease all;
}

.calendar-input.active {
  background: var(--vermelho-linear);
  border: none;
}

.calendar-input__selected {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 5px;
  border-radius: 5px;
  background: var(--vermelho-linear);
  border: none;
  transition: 0.5s ease all;
  color: var(--branco);
}

.selected-date__show {
  width: auto;
  gap: 12px;
  align-items: center;
}

.calendar-input__selected .bg-calendar {
  width: 26px;
  height: 28px;
  background-color: var(--branco);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.calendar-date.active .calendar-date__selected {
  align-items: center;
}

.calendar-input.active span,
.calendar-date.active input::placeholder {
  color: var(--branco);
  background-image: none;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

.calendar-input span,
.calendar-date input::placeholder {
  background-image: var(--vermelho-linear);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.calendar-date {
  position: relative;
}

.calendar-input.active .calendar-date input {
  color: var(--branco);
  font-weight: 700;
}

.calendar-date input {
  position: absolute;
  padding: 5px 0 5px calc(100% + 15px);
}

.calendar-input i {
  pointer-events: none;
  background-clip: text;
  padding: 5px;
  background: var(--vermelho-linear);
  color: var(--branco);
  border-radius: 5px;
}

.calendar-input.active i {
  background: var(--branco);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solicite-service__container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
  justify-content: flex-end;
  transition: 0.5s ease all;
}

.solicite-service__container a {
  width: 233px;
  display: flex;
  justify-content: center;
  transition: 0.5s ease all;
}

.solicite-service__container a:hover {
  padding-left: 120px;
}

.process-solicite {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-top: 1px solid var(--vermelho);
  padding-top: 5px;
}

.process {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.process-message {
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid var(--vermelho);

  border-radius: 5px;
  color: var(--preto80);
}

.process-message.active {
  background: var(--vermelho-linear);
  color: var(--branco);
  border: none;
}

/* contribuir.php */
.form-service {
  width: 100%;
  height: min-content;
  background-color: var(--branco);
  border-radius: 5px;
  padding: 45px 0;
}

.title-service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--cinza);
  padding: 20px 60px;
}

.title-service h1 {
  font-size: 30px;
  color: var(--preto80);
}

.title-service span {
  font-size: 22px;
  color: var(--cinza);
  font-weight: 700;
}

.infos-services {
  display: flex;
  flex-direction: column;
  padding: 20px 60px;
  gap: 10px;
  border-bottom: 1px solid var(--cinza);
}

.infos-services h1 {
  color: var(--preto80);
  font-size: 30px;
  padding: 20px 0;
}

.image-contribution,
.image-avatar {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
}

.col-info {
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.desc-textarea {
  width: 100%;
  height: 150px;
  resize: none;
  overflow: hidden auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  white-space: pre-wrap;
}

.desc-textarea::-webkit-scrollbar {
  width: 5px;
}

.desc-textarea::-webkit-scrollbar-track {
  background: var(--cinza);
}

.desc-textarea::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid var(--preto80);
}

.options-service {
  justify-content: space-between;
  gap: 10px;
}

.options-service .option {
  flex: 1;
}

.container-hours {
  gap: 10px;
}

.option {
  flex-direction: column;
}

.next-page__contribuir {
  justify-content: space-between;
  padding: 20px 60px;
}

.next-page__contribuir div {
  align-items: flex-start;
  gap: 10px;
}

/* minhas-doacoes.php */
/* requests-products.php */
.container-requests {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.requests-products {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--preto80);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.view-requests {
  width: 100%;
  /* min-height: 350px; */
  box-shadow: var(--shadow);
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
}

.user-solicites {
  width: 100%;
  min-height: 50px;
  background-color: var(--cinzaRoxo);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.user-solicites__button,
.user-solicited__button {
  min-width: 240px;
  flex: 1;
  border: 0;
  outline: 0;
  height: 50px;
  background: var(--branco);
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--cinzaRoxo);
}

.user-solicites__button.active,
.user-solicited__button.active {
  background: var(--vermelho-linear);
  color: var(--branco);
}

.view-card__info,
.view-card__process {
  display: none;
}

.view-card__info.active {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 8px;
}

.view-card__process.active {
  width: 100%;
  display: flex;
  border-radius: 5px;
  gap: 8px;
}

.view-request__solicited,
.view-request__process {
  min-height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  background-color: var(--branco);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.view-request__process {
  padding: 30px;
}

.nothing-request {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.request-products__solicited {
  display: none;
}

/* informaÃƒÂ§ÃƒÂµes do usuario */
.view-card__info {
  width: 100%;
  min-height: 200px;
  display: none;
  flex-direction: column;
  gap: 20px;
}

.view-requests__cards {
  flex-direction: column;
}

.view-card__edit {
  padding: 30px;
}

.buttons__update-delete {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.button-ud {
  width: 150px;
  height: 40px;
  padding: 10px;
  border: 2px solid var(--preto80);
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--preto80);
  background-color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;
}

.request-add-more__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--azul);
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--branco);
}

.view-solicite__about {
  width: 100%;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #d3d3d344;
  gap: 8px;
  flex-shrink: 0;
}

.solicite__about {
  gap: 8px;
  align-items: center;
  border-right: 3px solid var(--preto80);
  padding-right: 8px;
}

.solicite__about img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.view-solicite__about span {
  color: var(--preto80);
  font-size: 18px;
}

.edit-delete__buttons {
  gap: 8px;
  flex: 1 0 auto;
}

.edit-delete__buttons button,
.edit-delete__buttons a {
  width: 100%;
  min-width: 85px;
  height: 34px;
}
